.container {
    width : 100%;
    background : skyblue;
    display: flex;
    flex-direction: column;
}

.btn {
    padding : 5px;
    min-width : 30px;
}

.btn-ac {
    min-width: 60px;
}

.input {
    padding : 5px;
}